<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            margin: 0;
            overflow: hidden;
        }
        video{
            width:100vw;
            height: 100vh;
        }
    </style>
    <script src="/video/node_modules/hls.js/dist/hls.min.js"></script>
    <script src="/video/node_modules/socket.io/client-dist/socket.io.min.js"></script>
    <script></script>
</head>
<body>
    <video id="video" width="640" height="360" controls></video>
    <h1 id="errorMessage" style="display: none;">영상 조회에 실패했습니다. </h1>
    <script>
        const token = "{{token}}";
        const time = () => new Promise((res, rej) => {
            setTimeout(res, 3000);
        });
        const keepAlive = async () => {
            try{
                const res = await fetch(`/video/keepalive?token=${token}`);
                if(res.status === 200){
                    await time();
                    keepAlive();
                }
            } catch(err){
                video.remove()
                document.querySelector('#errorMessage').style.display = 'block'
            }
        };
        keepAlive();

        const getVideo = url => {
            let canplay = false;
            let inter = false;
            const playVideo = async () => {
                if(canplay && inter) {
                    await video.play();
                }
            };
            window.addEventListener('click', e => {
                inter = true;
                playVideo()
            }, {once:true});
            const videoSrc = url;
            if(Hls.isSupported()){
                const hls = new Hls();
                hls.loadSource(videoSrc);
                hls.attachMedia(video);
                hls.on(Hls.Events.MANIFEST_PARSED, () => {
                    canplay = true;
                    playVideo();
                });
            } else if(video.canPlayType('application/vnd.apple.mpegurl')){
                video.src = videoSrc;
                video.addEventListener('loadedmetadata', () => {
                    canplay = true;
                    playVideo();
                });
            }
        };
        getVideo("{{url}}");
    </script>
</body>
</html>